In [1]:
x = [5, 'dog']
y = ['cat', 3.5]
print(x + y)

[5, 'dog', 'cat', 3.5]

In [2]:
x = [ 5, 'dog']
print(3 * x)

[5, 'dog', 5, 'dog', 5, 'dog']

In [4]:
x = [5, 'dog']
y = ['cat']
print(x + 2 * y)

[5, 'dog', 'cat', 'cat']

In [7]:
height_ = 7
print(height_)

7

In [8]:
x=4
print(x*2)

8

In [9]:
print(2,3)

2 3

In [10]:
print("hello",      5)

hello 5

In [11]:
x = 5
print("x is", x   ,    ".")

x is 5 .

In [12]:
print("Enter your age")
x=int(input("Enter your age"))
print("Your age is", x*365, "in days")

Enter your age
Enter your age2
Your age is 730 in days

In [13]:
x=int(input("Enter your age"))
print("Your age is", x*365, "in days")

Enter your age34
Your age is 12410 in days

In [14]:
x=int(input("Enter the number"))
y= x*x - 12*x + 11
print(y)

Enter the number1
0

In [15]:
print (10.0 + 15)

25.0

In [16]:
x = "computer science"
print("mpu" in x)

True

In [23]:
x = [ 2.3, "dog", "disk", "donkey", 6]
print('d' in x)

False

In [19]:
x = "computer science"
print("sci" in x)

True

In [22]:
x = [ 2.3, "dog", 6]
print("dog" in x)

True

In [ ]:
y = input("type the string")
if y== "dog":
 print ("yes")
else:
 print ("no")

In [ ]:
y = input("type the string")
if y== "dog":
 print ("Dog")
elif y== "cat":
 print ("Cat")
elif "dog" in y and "cat" in y:
 print "Dog"